/elpa
auto-save-list
.lsp-session-v1
.cache
.dap-breakpoints
/transient
/projectile-bookmarks.eld
/recentf
/package-selected-packages.el
/undo
/projects
/tramp
/request
/url
/straight
/tree-sitter
/var
/etc